$primary-white: #fff !default;
$charcoal: #434343 !default;
$trolley-grey: #808080 !default;
$nobel: #9f9f9f !default;


body {
  background:$primary-white;
  overflow-x: hidden;
}

.nav-logo {
  width:200px;
  height:40px;
}

.jumbotron {
  padding-top: 56.25%;
  background:url('../img/top-img.png') no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom:0;
  position:relative;
  .logo {
    position:absolute;
    top:20px;
    left:10px;
    width:20%;
    text-align:center;
    p {
      font-weight:bold;
      font-size:2em;
    }
  }
}

.sect {
  h2 {
    font-size:2em;
    text-align:center;
    color:$primary-white;
  }
  h4 {
    font-size:1em;
    text-align:center;
    color:$primary-white;
  }
  .about-sunway {
    margin:3vh auto;
    padding:20px 30px;
    p {
      font-size:18px;
      color:$primary-white;
      line-height:2em;
    }
  }
  .patented-test {
    background-color:$primary-white;
    padding:30px 20px;
    border-radius:10px;
    box-shadow:0 3px 6px rgba(0,0,0,.67);
  }
  .characteristics {
    background:$primary-white;
    text-align:center;
    padding:20px 10px;
    h5 {
      text-transform: uppercase;
      font-size:20px;
    }
    h6 {
      font-size:16px;
      font-weight:bold;
      margin-top:20px;
    }
    p {
      // width:80%;
      margin:30px auto;
      font-size:14px;
      line-height:2em;
      text-align:left;
    }

  }
}

.pt {
  background:url('../img/img-orto.jpg') no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom:-40px;
  padding:5vh 0;
  .sect {
    h2 {
      color:rgb(0,0,0);
      font-weight:bold;
    }
    .about-oway {
      background:rgba(255,255,255,0.67);
      border-radius:5px;
      box-shadow:3px 6px 6px rgba(50,50,50,0.7);
      line-height:2em;
    }
  }
}

.pt1 {
  background:$charcoal;
  padding:4vh 0;
}

.pt2 {
  background:$trolley-grey;
  padding:4vh 0;
}

.pt3 {
  background:$nobel;
  padding:4vh 0;
  .sect {
    margin:0 40px;
    .preservative-free {
      margin:5vh auto;
      // text-align:center;
      // background:red;
      h2 {
        font-size:32px;
      }
      .center-text {
        margin:0 auto;
      }
      p {
        font-size:16px;
        color:$primary-white;
        font-weight:bold;
        margin-top:2vh;
        line-height:2em;
      }
    }
  }
}


.pt4 {
  background:$charcoal;
  padding:4vh 0;
  .instructions {
    margin:3vh auto;
    color:$primary-white;
    h3 {
      margin-top:3vh;
      font-size:20px;
      padding-bottom:3px;
      border-bottom:1px solid $primary-white;
      span {
        text-shadow:1px 1px 3px #000;
      }
    }
    p {
      font-size:16px;
      line-height:2em;
      margin-left:20px;
      margin-right:20px;
    }
  }
}


.pt5 {
  background:$trolley-grey;
  padding:4vh 0;
  .sect {
    .products {
      width:85%;
      max-width:1740px;
      margin:4vh auto;

      .disp-product {
        background:white;
        text-align:center;
        box-shadow:3px 6px 10px rgba(0,0,0,0.38);
        padding:0 0 3vh 0;
        h3 {
          font-size: 20px;
        }
        h4 {
          font-size: 16px;
          color:black;
        }
        h5 {
          font-size: 12px;
        }
        h6 {
          font-size: 16px;
          span {
            font-weight:bold;
          }
        }
        p.price {
          font-size:24px;
          color:rgb(181,20,35);
          strong {
            font-size:40px;
          }
        }
        p.with-tax {
          font-size: 16px;
          span {
            font-size:24px;
          }
        }
      }
    }
  }
}

.circle {
  position: relative;
  display: block;
  margin: 2em 0;
  background-color: transparent;
  color: rgb(255,255,255);
  font-weight:bold;
  text-align: center;
  .circle__inner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    .circle__wrapper {
      display: table;
      width: 100%;
      height: 100%;
    }
    .circle__content {
      display: table-cell;
      padding: 1em;
      vertical-align: middle;
    }
  }
}

.circle:after {
  display: block;
  padding-bottom: 100%;
  width: 100%;
  height: 0;
  border-radius: 50%;
  background-color: #ec6940;
  content: "";
  box-shadow:1px 3px 6px rgba(25,25,25,0.67);
}



.image-cropper {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}
.profile-pic {
  display: inline;
  margin: 0 auto;
  margin-left: -25%; //centers the image
  height: 100%;
  width: auto;
}



.card {
  background-color: transparent;
  border: transparent;
  .card-text-area {
    color: white;
  }
}

footer {
  background: $primary-white;
  .footer-contents {
    text-align: center;
    font-size:0.9em;
    p {
      color:$charcoal;
      a {
        padding:0 10px;
        color:$charcoal;
        text-decoration: none;
      }
      a:hover {
        padding-bottom:3px;
        font-weight:bold;
        border-bottom:1px solid $charcoal;
      }
    }
  }
}


@media (max-width:992px) {
  .disp-product {
    margin:20px auto;
  }


}

@media (max-width:768px) {
  .pt5 {
    .sect {
      .products {
        width:100%;
        max-width:768px;
          .disp-product {
          margin:20px auto;
          }
        }
    }
  }

  .jumbotron {
    .logo {
      position:absolute;
      top:20px;
      left:10px;
      width:15%;
      text-align:center;
      p {
        font-weight:bold;
        font-size:1em;
      }
    }
  }
}

@media (max-width:576px) {
  .disp-product {
    margin:20px auto;
  }

  footer {
  background: $primary-white;
    .footer-contents {
      text-align: center;
      font-size:0.7em;
      p {
        a {
          padding:0 5px;
        }
      }
    }
  }


}

